body {
    background-color: #e6e6e6;
    margin: 0;
    font-family: 'Antonio';
}

.fecha { font-size: 30px; }
.hora { font-size: 75px; }
.tramo { font-size: 15px;}
.milis { font-size: 37.5px; }

.circulos {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulos [id] {
    position: absolute;
    border-radius: 100%;
    background-color: #8cacb9;
}

.reloj {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CÍRCULOS*/
#centro {
    height: 55vh;
    width: 55vh;
    border-radius: 100%;
    text-align: center;
    color: black;
    background-color: #e6e6e6 !important;
}
#años { height: 90vh; width: 90vh; }
#meses {height: 85vh;width: 85vh;}
#dias {height: 80vh;width: 80vh;}
#horas {height: 75vh;width: 75vh;}
#minutos {height: 70vh;width: 70vh;}
#segundos {height: 65vh;width: 65vh;}
#milisegundos {height: 60vh;width: 60vh;}